
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: #fff;
	font-size: 14px;
	color: #333;
}

.main{
	max-width: 960px;
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -50px;
}

.navbar{
	width: 100%;
	background-color: #212121;
	height: 50px;
	z-index: 5px;
}

.navbar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar > ul.left-part {
	float: left;
}
.navbar > ul.right-part {
	float: right;
}

.navbar > ul > li {
	/*margin: 10 10 10 10;*/
	display: inline;
}

.navbar > ul > li > a, .navbar > ul > li.navtext {
	text-decoration: none;
	text-align: center;
	padding: 20px;
	width: 50px;
	color: white;
	line-height: 50px;
}
.navbar > ul > li > a:hover{
	text-decoration: none;
	background-color: #424242;
}

.main:after{
	content: "";
	display: block;
}

footer, .main:after{
	height: 50px;
}

footer{
	text-align: center;
}